* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  color: black;
}
a:hover {
  color: #81B3D2;
}
a:active {
  color: rgba(0, 0, 0, 0.2862745098);
}

.header__here {
  color: #766357;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
  background-color: white;
}

.header__menu {
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.header__item {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.header__logo {
  position: relative;
  width: 138px;
  height: 70px;
  z-index: 2;
}

body {
  background-color: #333333;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
  background-color: white;
}

.about__background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 509px;
  background: url("../img/background_photo.png") no-repeat 50% 50%/100% 100%;
}

.about__images {
  margin-top: 80px;
  width: 457px;
  height: 351px;
}

.about__wrapper {
  width: 1200px;
  height: 222px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  height: 150px;
}

.about__subtitle, .title {
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.title-hover:hover {
  color: #81B3D2;
}

.title-active:active {
  color: rgba(0, 0, 0, 0.3411764706);
}

.about__text {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.content {
  display: flex;
  flex-direction: column;
}

.content__info {
  display: flex;
  flex-direction: column;
}

.content__row {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 256px;
}

.content__cards {
  display: flex;
  flex-direction: row;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 330px;
  padding: 60px;
}

.content__card_colored {
  background-color: #81B3D2;
  color: white;
  height: 256px;
  padding: 30px;
}

.content__title {
  width: 200px;
  height: 53px;
  margin-top: 10px;
  line-height: 21px;
}

.content__subtitle, .sorting__subtitle {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.content__text {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  width: 297px;
  height: 43px;
  margin-bottom: 10px;
}

.content__icon {
  fill: #81B3D2;
}

.content__info:last-child {
  background-color: #EEEEEE;
}

.content__card:nth-last-child(-n+3) {
  height: 256px;
  padding: 30px;
}

.content__text:nth-last-child(-n+3) {
  padding: 0 20px;
}

.about__text_width {
  width: 435px;
}

.content__title_width {
  width: 100px;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 568px;
  height: 86px;
  background-color: #766357;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.map__button:hover {
  color: white;
  background-color: #604E43;
}
.map__button:active {
  background-color: #503E33;
  color: rgba(255, 255, 255, 0.301);
}

.footer__wrapper {
  display: flex;
  width: 1280px;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.footer__wrapper .footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 120px;
  padding: 0 120px;
}
.footer__wrapper .footer__title {
  display: flex;
  flex-direction: column;
}
.footer__wrapper .footer__subtitle {
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
}
.footer__wrapper .footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__wrapper .footer__icon {
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  fill: white;
  background-color: #5496BD;
}
.footer__wrapper .footer__icon:hover {
  background-color: #669EC0;
}
.footer__wrapper .footer__icon:active {
  fill: rgba(255, 255, 255, 0.63);
  background-color: #5496BD;
}
.footer__wrapper .footer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__wrapper .footer__link:hover {
  fill: #81B3D2;
}
.footer__wrapper .footer__link:active {
  fill: rgba(51, 51, 51, 0.2274509804);
}
.footer__wrapper .footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 10px;
  color: black;
}
.footer__wrapper .margin-right-10px {
  margin-right: 10px;
}

.forms {
  width: 568px;
  height: 395px;
  background-color: white;
  position: absolute;
  top: 2123px;
  display: block;
  box-shadow: 1px 1px 7px rgba(48, 48, 48, 0.651);
}

.forms__wrapper {
  background-color: rgb(255, 255, 255);
  width: 517px;
  height: 395px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

.forms__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 458px;
  height: 58px;
  background-color: #81B3D2;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.forms__button:hover {
  color: white;
  background-color: #669EC0;
}
.forms__button:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.2);
}

.forms__item {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.forms__subitem {
  display: flex;
  align-items: center;
  width: 50%;
}

.forms__subitem:last-child {
  justify-content: end;
}

.forms__title {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

#forms__select {
  background-color: #F2F2F2;
  width: 346px;
  height: 38px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 20px;
}

.forms__title_margin-left {
  margin-left: 20px;
}

.forms__title_margin-left:last-child {
  margin-left: 50px;
}

.forms__buttons {
  display: flex;
  background-color: #F2F2F2;
  min-width: 114px;
  height: 38px;
  margin-left: 60px;
}

.forms__buttons:last-child {
  margin-right: 20px;
}

.forms__title_margin-right {
  margin-right: -30px;
}

.forms__icon {
  position: absolute;
  fill: #A9A9A9;
  margin-left: 420px;
}
.forms__icon:hover {
  fill: #000000;
}
.forms__icon:active {
  fill: #5496BD;
}

.forms__symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  fill: #A9A9A9;
}
.forms__symbol:hover {
  fill: #000000;
}
.forms__symbol:active {
  fill: #5496BD;
}

.forms__text {
  width: 38px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_white {
  color: white;
  font-weight: 400;
}

.title_font-size {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 100;
}

.menu {
  width: 100%;
  height: 217px;
  background: url(../img/background_photo.png) no-repeat 55% 50%;
  backdrop-filter: blur(105px);
}

.menu__blur {
  backdrop-filter: blur(15px);
  height: 217px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__filter {
  display: flex;
}

.menu__checkboxs {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin-left: 100px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #ffffff;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.menu__range-price {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 97px;
}

.margin-bottom-15px {
  margin-bottom: 15px;
}

#range {
  display: flex;
  justify-content: center;
  width: 316px;
}

.menu__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 135px;
  height: 35px;
  margin-top: 10px;
  border: 2px solid white;
}
.menu__submit:hover {
  background-color: white;
  color: #000000;
}

.menu__price {
  width: 317px;
  height: 38px;
  display: flex;
  align-items: center;
  border: 2px solid white;
}

.menu__rate {
  width: 50%;
  display: flex;
  justify-content: center;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.menu__icon {
  position: relative;
  padding-top: 2px;
  fill: white;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  width: 100%;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2823529412);
}
.sorting__filters {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px 0 90px;
  width: 50%;
}
.sorting__icons {
  display: flex;
  margin-right: 90px;
}
.sorting__icon {
  padding: 5px;
  fill: rgba(51, 51, 51, 0.5960784314);
}
.sorting__icon:hover {
  fill: black;
}
.sorting__icon:active {
  fill: #669EC0;
}
.sorting__filter {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 100;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline dotted;
  color: rgba(51, 51, 51, 0.6901960784);
}
.sorting__filter:hover {
  text-decoration: underline dotted;
}
.sorting__filter:active {
  color: black;
}

.hotels {
  height: 454px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hotels__about {
  height: 33.3333%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2823529412);
  padding-left: 100px;
}

.hotels__card {
  display: flex;
}

.hotels__title {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-left: 30px;
  height: 90px;
}

.hotels__subtitle {
  display: flex;
  justify-content: space-between;
  width: 177px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.hotels__buttons {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.hotels__info {
  width: 100px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: uppercase;
  color: white;
  background-color: #81B3D2;
}
.hotels__info:hover {
  color: white;
  background-color: #669EC0;
}
.hotels__info:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.2);
}

.hotels__booking {
  width: 142px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: uppercase;
  color: white;
  background-color: #766357;
}
.hotels__booking:hover {
  color: white;
  background-color: #604E43;
}
.hotels__booking:active {
  background-color: #503E33;
  color: rgba(255, 255, 255, 0.301);
}

.hotels__rating {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  margin-right: 90px;
}

.hotels__icon {
  fill: #81B3D2;
  padding: 0 5px;
}

.hotels__rate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 27px;
  background-color: #F2F2F2;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: uppercase;
}

input[type=range] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 3px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #9e9e9e;
  cursor: ew-resize;
  box-shadow: 0 1px 4px #808080, inset rgb(255, 255, 255) 0 0 1px 7px;
}
input[type=range]::-webkit-slider-thumb:hover {
  width: 22px;
  height: 22px;
  box-shadow: inset rgb(255, 255, 255) 0 0 1px 8px;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}