@import "../_variable/extend_mixin.scss";

.content  {
  display: flex;
  flex-direction: column;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
  }

  &__cards {
    display: flex;
    text-align: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 56px 0 32px;
    gap: 20px;

    & > h1, p {
      margin: 0;
    }

    &.is-colored-blue {
      display: flex;
      background-color: #81B3D2;
      color: #ffffff;
      text-align: center;
      justify-content: flex-start;
      padding: 42px 40px 26px;
      gap: 22px;

      & > .content__title {
        padding: 0 52px;
      }

      & > .content__text {
        padding: 0 8px 0px;
      }
    }

    &.is-colored-brown {
      background-color: #EEEEEE;
      gap: 22px;
      padding: 44px 0px 54px;

      & > .content__title {
        padding: 0 124px;
      }

      & > .content__text {
        padding: 0 68px 0px;
      }
    }
  }

  &__image {
    display: flex;
    flex-grow: 2;
  }

  &__text {
    @include font_pattern(14px, 400, 21px);
    padding: 0px 50px;
  }

  &__icon {
    fill: #81B3D2;
    width: 75px;
  }

  &__title {
    @include font_pattern(21px, 700, 26px);
    padding: 0 80px;
  }

  &__box {
    gap: 24px;
    display: flex;
    flex-direction: column;
  }

  @media (min-device-width: 320px) and (max-device-width: 428px) {
    &__row {
      flex-wrap: wrap;

      & img {
        width: 100%;
      }
    }

    &__cards {
      flex-direction: column;
    }

    &__card {
      border-bottom: 1px solid black;
      justify-content: center;
      flex-direction: row;
      gap: 30px;
      padding: 40px 0;

      &:nth-child(2) {
        flex-direction: row-reverse;
      }

      &.is-colored-blue {
        flex-direction: column;
      }

      & svg {
        width: 120px;
      }

      &.is-colored-brown {
        flex-direction: row;
        justify-content: space-between;

        & .content__title {
          padding: 0 120px;
        }
      }
    }

    &__box {
      width: 50%;
    }
  }
}
