.footer {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  padding: 0 40px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 25px 120px 35px;
}
.footer__title {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding-left: 4px;
}
.footer__subtitle {
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
}
.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding-top: 12px;
  padding-right: 12px;
}
.footer__text {
  margin-right: 8px;
  padding-top: 16px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.footer__logo {
  padding-right: 18px;
  padding-top: 10px;
}