.footer {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  padding: 0 40px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 120px 35px;
}
.footer__title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 4px;
}
.footer__subtitle {
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding: 10px 0;
}
@media (min-device-width: 320px) and (max-device-width: 428px) {
  .footer__subtitle {
    font-size: 31.5px;
    line-height: 39px;
  }
}
.footer__icon {
  display: flex;
  gap: 4px;
  padding: 12px 12px 0 0;
}
.footer__text {
  margin-right: 8px;
  padding-top: 16px;
  color: #000000;
}
.footer__logo {
  padding: 10px 18px 0 0;
}
@media (min-device-width: 320px) and (max-device-width: 428px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}