@import "../_variable/extend_mixin.scss";

.dialog {
  width: 568px;
  height: 394px;
  position: absolute;
  top: 292px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-device-width: 320px) and (max-device-width: 428px) {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.form {
  box-shadow: 1px 1px 7px rgba(48, 48, 48, 0.651);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 40px;

  &__item {
    display: flex;
    justify-content: center;
    padding: 6px 0 8px;
    gap: 16px;

    &.is-button {
      padding-top: 38px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
  }

  &__text {
    align-items: center;
    @include font_pattern(14px, 700, 26px);
    width: 110px;
    text-align: start;

    &.is-moved {
      padding-left: 34px;
      width: 64px;
    }
  }

  &__input {
    font-family: 'PT Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    text-align: start;
    width: 328px;
    height: 38px;
    background-color: #F2F2F2;
    border: none;
    padding-left: 16px;

    &_width-38px {
      width: 22px;
    }
  }

  @media (min-device-width: 320px) and (max-device-width: 428px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    &__item {
      flex-direction: column;
      justify-content: space-between;
    }

    &__box {
      flex-direction: column;
      width: 100%;
    }

    &__text {
      width: 50%;
      justify-content: center;

      &.is-moved {
        padding: 0;
        width: 50%;
      }
    }

    // .is-button {
    //   justify-content: center;
    //   padding: 0;
    // }

    &__input {
      height: 70px;
    }
  }
}

::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 0.5;
  background-image: url(../img/icon/calendar.svg);
  background-size: contain;
  padding: 0 6px;
  width: 22px;
  height: 22px;

  @media (min-device-width: 320px) and (max-device-width: 428px) {
    height: 50px;
    width: 50px;
  }
}

.form__input:hover::-webkit-calendar-picker-indicator {
  opacity: 1;
}

::-webkit-calendar-picker-indicator:active {
  background-image: url(../img/icon/calendar-is-colored.svg);
}
