.form {
  width: 568px;
  height: 394px;
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 1px 1px 7px rgba(48, 48, 48, 0.651);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 438px;
    height: 58px;
    background-color: #81B3D2;
    color: #ffffff;

    &:hover{
      color: #ffffff;
      background-color: #669EC0;
    }

    &:active{
      background-color: #5496BD;
      color: #ffffff33;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &__label {
    display: flex;
    align-items: center;
  }

  &__text {
    width: 110px;
    align-items: center;
    font-family: 'PT Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    display: inline-flex;

    &_padding-left-30px {
      padding-left: 30px;
    }
  }

  &__input {
    font-family: 'PT Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    width: 300px;
    height: 38px;
    background-color: #F2F2F2;
    border: none;
    padding-left: 16px;

    &_width-38px {
      width: 38px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    fill: #A9A9A9;
    height: 38px;
    width: 38px;

    &:hover {
      fill: #000000;
    }

    &:active {
      fill: #81B3D2;
    }
  }
}
