.header {
  background-color: #ffffff;

  &__menu {
    display: flex;
    width: 1200px;
  }

  &__item {
    font-family: 'PT Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
  }

  &__logo{
    position: relative;
    margin-top: 10px;
    z-index: 2;
  }
}
