.link {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-family: 'PT Sans';
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;

  &.is-active {
    color: #766357;
  }

  &:hover {
    fill: #81B3D2;
    color: #81B3D2;
  }

  &:active {
    fill: #00000049;
    color: #00000049;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    fill: #ffffff;
    background-color: #5496BD;

    &:hover {
      background-color: #669EC0;
    }

    &:active {
      fill: rgba(255, 255, 255, 0.63);
      background-color: #5496BD;
    }
  }
}
