@import "../_variable/extend_mixin.scss";

.link {
  display: flex;
  font-family: 'PT Sans';
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  color: black;
  text-decoration: none;
  margin: 0;

  &.is-header {
    font-size: 14px;
    font-weight: 400;
  }

  &.is-active {
    color: #766357;
  }

  &:hover {
    fill: #81B3D2;
    color: #81B3D2;
  }

  &:active {
    fill: #00000049;
    color: #00000049;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    fill: #ffffff;
    background-color: #5496BD;

    &:hover {
      background-color: #669EC0;
    }

    &:active {
      fill: rgba(255, 255, 255, 0.63);
      background-color: #5496BD;
    }

    &.is-footer {
      font-weight: 400;
      font-size: 14px;
    }
  }

  &_title {
    font-size: 21px;
    font-weight: 700;
  }

  &.is-header {
    font-size: 14px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  @media (min-device-width: 320px) and (max-device-width: 428px) {
    &.is-header {
      font-size: 40px;
    }

    &__icon {
      width: 94px;
      height: 94px;
      margin: 12px;
    }

    &__icon > svg {
      width: 56px;
      height: 56px;
    }
  }
}
