.link {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
.link.is-active {
  color: #766357;
}
.link:hover {
  fill: #81B3D2;
  color: #81B3D2;
}
.link:active {
  fill: rgba(0, 0, 0, 0.2862745098);
  color: rgba(0, 0, 0, 0.2862745098);
}
.link__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  fill: #ffffff;
  background-color: #5496BD;
}
.link__icon:hover {
  background-color: #669EC0;
}
.link__icon:active {
  fill: rgba(255, 255, 255, 0.63);
  background-color: #5496BD;
}