.about__background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("../img/background_photo.png") no-repeat 50% 50%/100% 100%;
}
.about__image {
  margin-top: 80px;
  width: 458px;
  height: 352px;
}
.about__wrapper {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 500px;
  gap: 16px;
}
.about__text {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.main {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 40px;
}

.button {
  background-color: #ffffff;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  border: none;
}
.button--type--submit {
  background: none;
  width: 136px;
  height: 36px;
  margin-top: 10px;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.button--type--submit:hover {
  background-color: #ffffff;
  color: #000000;
}
.button--type--booking {
  width: 142px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #766357;
  margin-left: 3px;
}
.button--type--booking:hover {
  color: #ffffff;
  background-color: #604E43;
}
.button--type--booking:active {
  background-color: #503E33;
  color: rgba(255, 255, 255, 0.301);
}
.button--type--info {
  width: 100px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: #81B3D2;
  margin-right: 3px;
}
.button--type--info:hover {
  color: #ffffff;
  background-color: #669EC0;
}
.button--type--info:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.2);
}
.button--type--sorting {
  border-bottom: 0.4px dotted;
  padding: 0;
  color: #000000;
}
.button--type--sorting:hover {
  color: #5496BD;
}
.button--type--sorting:active {
  color: rgba(51, 51, 51, 0.6156862745);
  border: none;
}
.button--type--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  fill: #A9A9A9;
  height: 40px;
  width: 38px;
}
.button--type--icon:hover {
  fill: #000000;
}
.button--type--icon:active {
  fill: #81B3D2;
}
.button--type--serch {
  width: 458px;
  height: 58px;
  background-color: #81B3D2;
}
.button--type--serch:hover {
  color: #ffffff;
  background-color: #669EC0;
}
.button--type--serch:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.2);
}

.checkbox {
  display: inline-flex;
  align-items: center;
}
.checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox__custom {
  display: block;
  width: 26px;
  height: 26px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.checkbox .checkbox__input:not(:disabled):not(:checked):hover + .checkbox__custom {
  border-color: #b3d7ff;
}
.checkbox .checkbox__input:checked + .checkbox__custom {
  border-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.checkbox__label {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
}
.content__info {
  display: flex;
  flex-direction: column;
}
.content__row {
  display: flex;
}
.content__cards {
  display: flex;
  text-align: center;
}
.content__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 26px 40px;
}
.content__card.is-colored-blue {
  background-color: #81B3D2;
  color: #ffffff;
  text-align: center;
}
.content__card.is-colored-brown {
  background-color: #EEEEEE;
}
.content__image {
  display: flex;
  flex-grow: 2;
}
.content__text {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.content__icon {
  fill: #81B3D2;
}
.content__title {
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  padding: 0 80px;
}

.footer {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  padding: 0 40px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 30px 120px;
}
.footer__title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer__subtitle {
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
}
.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.footer__text {
  margin-right: 10px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.dialog {
  width: 568px;
  height: 394px;
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translateX(-50%);
}

.form {
  box-shadow: 1px 1px 7px rgba(48, 48, 48, 0.651);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.form__item {
  display: flex;
  justify-content: center;
  padding: 12px 0 12px 12px;
  gap: 16px;
}
.form__label {
  display: flex;
  align-items: center;
}
.form__text {
  align-items: center;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  display: inline-flex;
  width: 110px;
}
.form__input {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  width: 338px;
  height: 38px;
  background-color: #F2F2F2;
  border: none;
  padding-left: 16px;
}
.form__input_width-38px {
  width: 22px;
}

::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 0.5;
  background-image: url(../img/icon/calendar.svg);
  background-size: contain;
  padding: 0 12px;
  width: 22px;
  height: 22px;
}

.form__input:hover::-webkit-calendar-picker-indicator {
  opacity: 1;
}

.header {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.header__menu {
  display: flex;
}
.header__list {
  display: flex;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  padding-inline-start: 0;
}
.header__item {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.header__logo {
  position: relative;
  margin-top: 10px;
  z-index: 2;
}

.hotels {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.hotels__about {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2823529412);
}
.hotels__card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotels__title {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.hotels__subtitle {
  display: flex;
}
.hotels__text {
  width: 110px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  margin: 10px 0;
}
.hotels__buttons {
  display: flex;
}
.hotels__rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.hotels__icon {
  display: flex;
  fill: #81B3D2;
  gap: 4px;
}
.hotels__rate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 28px;
  margin-top: 50px;
  background-color: #F2F2F2;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

.hotels__img > img {
  padding-right: 30px;
}

.info {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.info__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 568px;
  height: 86px;
  background-color: #766357;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.info__button:hover {
  color: #ffffff;
  background-color: #604E43;
}
.info__button:active {
  background-color: #503E33;
  color: rgba(255, 255, 255, 0.301);
}

.link {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
.link.is-active {
  color: #766357;
}
.link:hover {
  fill: #81B3D2;
  color: #81B3D2;
}
.link:active {
  fill: rgba(0, 0, 0, 0.2862745098);
  color: rgba(0, 0, 0, 0.2862745098);
}
.link__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  fill: #ffffff;
  background-color: #5496BD;
}
.link__icon:hover {
  background-color: #669EC0;
}
.link__icon:active {
  fill: rgba(255, 255, 255, 0.63);
  background-color: #5496BD;
}

.menu {
  display: flex;
  width: 1200px;
  background: no-repeat url(../img/background_photo.png) 55% 50%;
}
.menu__blur {
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 100%;
}
.menu__filter {
  display: flex;
  gap: 40px;
}
.menu__checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.menu__range-price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__button {
  align-self: center;
}
.menu__price {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #ffffff;
}
.menu__text {
  display: flex;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}
.menu__title {
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}

.range {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 310px;
  height: 4px;
  background: rgba(182, 182, 182, 0.671);
  border-radius: 5px;
  background-repeat: no-repeat;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #9e9e9e;
  cursor: ew-resize;
  box-shadow: 0 1px 4px #808080, inset rgb(255, 255, 255) 0 0 1px 7px;
}
.range::-webkit-slider-thumb:hover {
  width: 22px;
  height: 22px;
  box-shadow: inset rgb(255, 255, 255) 0 0 1px 8px;
}

.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1px;
  height: 36px;
  padding-left: 20px;
}
.separator::before {
  content: "";
  height: 100%;
  border: 1px solid #ffffff;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2823529412);
  padding: 10px 60px;
}
.sorting__filters {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.sorting__icons {
  display: flex;
}
.sorting__icon {
  padding: 5px;
  fill: rgba(51, 51, 51, 0.5960784314);
}
.sorting__icon:hover {
  fill: black;
}
.sorting__icon:active {
  fill: #669EC0;
}
.sorting__filter {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 100;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline dotted;
  color: rgba(51, 51, 51, 0.6901960784);
}
.sorting__filter:hover {
  text-decoration: underline dotted;
}
.sorting__filter:active {
  color: black;
  text-decoration: none;
}
.sorting__subtitle {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
.title_text {
  color: #ffffff;
  font-weight: 400;
}
.title_width {
  width: 100px;
}