.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1px;
  height: 22px;
  padding: 6px 0px 6px 2px;
}
.separator::before {
  content: "";
  height: 100%;
  border: 1px solid #ffffff;
}
@media (min-device-width: 320px) and (max-device-width: 428px) {
  .separator {
    height: 40px;
  }
}