.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #33333348;
  padding: 10px 60px;

  &__filters {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }

  &__icons {
    display: flex;
  }

  &__icon {
    padding: 5px;
    fill: #33333398;
  }

  &__icon:hover {
    fill: black;
  }

  &__icon:active {
    fill: #669EC0;
  }

  &__filter {
    font-family: 'PT Sans';
    font-size: 14px;
    font-weight: 100;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline dotted;
    color: #333333b0;

    &:hover {
      text-decoration: underline dotted;
    }

    &:active {
      color: black;
      text-decoration: none;
    }
  }

  &__subtitle {
    font-family: 'PT Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
  }
}
