@import "../_variable/extend_mixin.scss";

.title {
  @include font_pattern(21px, 700, 26px);
  margin: 0;

  &_text {
    color: #ffffff;
    font-weight: 400;
  }

  &_width {
    width: 100px;
  }
}
